<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
</head>
<body style=" background-color: #7b7a8c;">
    
<form class="" action="/update" method="post">
    <div>
        <label class="heading">Prev </label>
        <input class="form-control" type="text" name="prevTask" class="text-box"/>
        <label class="heading">Current</label>
        <input class="form-control" type="text" name="updateTask"/>
    </div>
    <button type="submit" name="button" style="background-color:rgba(56, 192, 56, 0.694) ;margin-top: 20px;width: 200px;height: 50px;margin-left: 50px;">Press</button>
</form>
</body>
</html>